.userRepo{
  width: 90%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
   
}
.repoCard{
    padding: 10px;
    margin: 10px;
    width: 25%;
    height: 140px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: transform 0.3s ease;
}
.repoCard:hover {
  background-color: black;
  color: white;
    transform: scale(1.10);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
  
.repoRouter{
    margin:8px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: large;
}
.moreBtn{
  position: absolute;
  right: 5%;
  bottom: 3%;
  padding: 15px 20px;
  color: white;
  font-weight: bolder;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
}
@media(max-width:1200px){
 .repoCard{
  width:30%;
  height: 150px;
  } 
  .moreBtn{ 
    right: 5px;
    bottom: 3%;}
}
@media(max-width:992px){
  .repoCard{
    width:40%;
    height: 160px;
    } 
}
@media(max-width:756px){
  .repoCard{
    width:60%;
    } 
}
@media(max-width:520px){
  .repoCard{
    width:90%;
    } 
    .moreBtn{ 
      right: 0px;
      bottom: 5px;}
}