.userRepo{
  width: 80%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
   
}
.repoCard{
    padding: 10px;
    margin: 10px;
    width: 25%;
    height: 140px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: transform 0.3s ease;
}
.repoCard:hover {
    transform: scale(1.10);
    /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2); */
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
.repoRouter{
    margin:8px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: large;
}
